includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/pepakriz/phpstan-exception-rules/extension.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon

parameters:
    level: max
    paths:
        - src

    exceptionRules:
        uncheckedExceptions:
            - LogicException
            - Nette\InvalidStateException

    ignoreErrors:
        - # false positive
            message: "#Cannot access property \\$attrs on Latte\\\\HtmlNode\\|null#"
            path: src/FormRenderer/Macros/FormRendererMacros.php
