includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/nepada/phpstan-nette-tester/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
    - tests/PHPStan/disallowedCalls.neon
    - tests/PHPStan/shipmonk.neon
    - tests/PHPStan/conditional.config.tests.php

parameters:
    level: max
    paths:
        - tests

    fileExtensions:
        - php
        - phpt

    excludePaths:
        - tests/temp/*
        - tests/PHPStan/conditional.config.php

    ignoreErrors:
        # Latte <3.0.8 compatibility
        -
            message: "#^Comparison operation \"\\<\" between [0-9]+ and 30008 is always (true|false)\\.$#"
            count: 1
            path: tests/Bridges/FormRendererDI/FormRendererLatteStrictExtensionTest.phpt
